* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}
.big, button{
  background-color: tomato; 
/* height: 25px;  */
/* width: 70px; */
 color: white; 
 font-size: 16px;
 cursor: pointer;
 display: block;
 margin: auto;
 border: none;
 width: fit-content;
 padding: 10px 20px;
}
span {
  color: gold;
}
div {
  background-color: white;
  padding: 20px 25px;
  border-radius: 10px 0;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
input {
  /* opacity: 0.5; */
  border: 2px solid gray;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  width: 300px;
}
